
*{
  margin: 0;
  padding: 0;
}
body {
  background: papayawhip;
  margin: 20px;
  padding: 20px;
}

/*.container{
  background-color: ghostwhite;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: flex-start;
}
.container div{
  border:1px solid seagreen;
  padding: 15px;
  height: 50px;
  margin: 10px;
}

.a{
  flex-basis:100%;
  min-height: 150px;
  order: 0;
}
.b{

  order: 1;
  flex-basis: calc(var(--flex-basis) - 2%);
}
.c{
  order: 3;
  flex-basis: 20%;
  width: 0;
  transform: translateY(-100px);
}
.d{
  order: 4;
  transform: translateY(-100px);
  flex-basis: 20%;
}
.e{
  order: 5;
  transform: translateY(-100px);
  flex-basis: 20%;
}
.f{
  order: 2;
  min-height: 150px;
  flex-basis: 2px;
  flex-grow: 2;
  flex-shrink: 1;
}

@media (max-width: 600px) {
  .b{
     flex-basis: 100%; 
     width: 100%;
     order: 1;
  }
  .f{
      order:6;
      flex-basis: 100%;
      min-height: 50px;
  }
  .a{
    min-height: 50px;
  }
  .b{
    min-height: 150px;
  }
  .c,.d,.e {
    transform: translateY(0px);
    flex:1;
  }

}*/


/* decided to use grid instead */

.container{
  display: grid;
  justify-content: center; /* This can also work in a grid display */
  grid-template-columns: repeat(4,24%);
  gap: 20px;
}
.container div{
  border:1px solid seagreen;
  background-color: lightblue;
  margin: 0;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;
  padding: 25px;
  /* text-align: center; */
}
.a{
  grid-row: 1;  /*this is defualt */
  grid-column: span 4;
}
.b{
  grid-row: 2;/*not needed because it does it for you*/
  grid-column: span 3;
}
.c,.d,.e{
  grid-row: 3
}
.f{
  grid-row: 2;
  grid-column: span 1;
  grid-row:span 2;
}

@media (max-width: 600px) {
  .container{
    grid-template-columns: repeat(3,33%);
  }
  .a{
    grid-column:span 3;
  }
  .b{
    grid-column:span 3;
    min-height:200px;
  }
  .f{
    grid-row: 4;
    grid-column:span 3;
  }
  
}